.blog--container {
    display:flex;
    flex-direction:column;
    height: 90vh;
    align-items: center;
    justify-content: flex-start;
    font-size: 3rem;
    background-image: url("../../../public/images/orange_desert.jfif");
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    color:white;
    p {
        text-align: center;
    }
}